body{
    font-family: 'Courier New';
}

.container {
    /*https://css-tricks.com/snippets/css/complete-guide-grid/*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background: powderblue;
    text-align: center;
    padding: 20px;
}