body{
    font-family: 'Courier New';
    text-align: center;
    background: aquamarine;
}

.container {
    /*https://css-tricks.com/snippets/css/complete-guide-grid/*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.container > div {
    padding: 1em;
    margin: 3%;
    background: #eeeeee;
    word-wrap: break-word;
}